<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userPreferenceGroup">
      <section name="language" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InstrumentUI_ATK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ContactNumber" value="1-866-968-7782" />
    <add key="ContactEmail" value="help@qta.com" />
    <add key="DefaultReportDirectory" value="C:\QTA\" />
    <add key="DefaultReport" value="My Default Report" />
    <add key="DefaultLanguage" value="en-US" />
    <add key="RunWorkflow" value="true" />
    <add key="DiagStatusMaxAttempts" value="3" />
    <add key="DiagStatusRetryWaitTime" value="5000" />
    <!-- STANDARD -->
    <add key="ReportURL" value="https://prod.qtalabs.com/Reports/" />
    <!-- QLINK -->
    <!--<add key="ReportURL" value="http://localhost/Reports/" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ResultHeaderPurgeLimit" value="500" />
    <add key="ResultHeaderReturnLimit" value="250" />
    <add key="ThirdPartyStartArgs" value="-i -n" />
    <add key="SupportPath" value="https://get.teamviewer.com/mkst43c" />
    <add key="AllowAveraging" value="true" />
    <add key="AverageScans" value="false" />
    <add key="AverageScanScans" value="4" />
    <add key="AverageScanCleanCheck" value="true" />
    <add key="ScheduleFilePath" value="C:\Documents and Settings\All Users\Documents\Schedule.xml" />
    <add key="MaxScans" value="120" />
    <add key="ShowManageQueueButton" value="true" />
    <add key="ShowScheduleSummaryButton" value="true" />
    <add key="AllowPreferences" value="true" />
    <add key="CheckHomo" value="false" />
    <add key="WarmupCheck" value="false" />
    <add key="Diagnostics" value="false" />
    <add key="Simulator" value="false" />
    <add key="NewCleanBkg" value="true" />
    <add key="MaxDirty" value="3" />
    <add key="agil_numScans" value="60" />
	<add key="agil_backgroundScans" value="20"/>
    <add key="agil_res" value="8" />
    <add key="ChartOffset" value=".61" />
    <add key="SaveData" value="false" />
    <add key="SaveResult" value="false" />
  </appSettings>
  <userPreferenceGroup>
    <language>
      <add key="English (US)" value="en-US" />
      <add key="Español" value="es-ES" />
      <add key="Deutsch" value="de-DE" />
    </language>
  </userPreferenceGroup>

  <!-- STANDARD -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IInstrumentService" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://prod.qtalabs.com/InstrumentServices/InstrumentService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInstrumentService" contract="DataService.IInstrumentService" name="WSHttpBinding_IInstrumentService" />
    </client>
  </system.serviceModel>  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5" />
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <!--add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.1, Culture=neutral, PublicKeyToken=89845dcd8080cc91" /-->
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <InstrumentUI_ATK.Properties.Settings>
      <setting name="BrukerToolkitVersion" serializeAs="String">
        <value>334</value>
      </setting>
    </InstrumentUI_ATK.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>